@{
    ViewBag.Title = "Deal";
}
<h2>Deal</h2>
@if (ViewBag.CardsRemaining > 0)
{
<p>Cards remaining in Deck: @ViewBag.CardsRemaining</p>
}
else
{
    <p>The Deck is empty! Please click "New Deck" to receive a new deck</p>
}
 <table>
        @if (ViewBag.CardsRemaining >= 5)
        {
            for (int i = 0; i < 5; i++)
            {
                <img src="@ViewBag.cards[i]["image"]" width="100" height="140" />
                <tr>@ViewBag.cards[i]["value"] @ViewBag.cards[i]["suit"]</tr>
            }

        }
        else if (ViewBag.CardsRemaining < 5 && ViewBag.CardsRemaining > 0)
        {
            int remains = ViewBag.CardsRemaining;

            for (int i = 0; i < remains; i++)
            {
                <img src="@ViewBag.cards[i]["image"]" width="100" height="140" />
                <tr>@ViewBag.cards[i]["value"] @ViewBag.cards[i]["suit"]</tr>
            }
        }
    </table>